html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}


body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3a3a3a;
}
html {
  height: 100%;
}


img {
  max-width: 100%;
  height: auto;
}
.app {
  padding: 30px;
}

.todo-list {
  background: #424242;
  border-radius: 4px;
  padding: 8px;
}

.todo {
  align-items: center;
  background: #333;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 12px 0;
  padding-left: 25px;
}

button {
  font-size: 1rem;
  margin-right: 12px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.complete {
  background: #5a5a5a;
}
.delete {
  background: #b43c3c;
}
Input.input {
  padding: 12px 20px;
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #7b7b7b;
  background: #282828;
  color: #b2b2b2;
}
.btn-clean{
  width: 100%;
}
.btn-container{
  margin-top: 10px;;
}
.total{
  padding: 5px;
  margin-bottom: 5px;
  color: #333;
}
.header{
  text-align: center;
}
.header img{
  width: 50px;
}
.shopping-title{
  color: #ccc;
  font-size: 1.2rem;
  padding: 5px;
  font-style: normal;
  margin-top: 9px;
}
@media only screen and (max-width: 600px) {
  .app {
    padding: 8px;
  }
  button{
    margin-right: 5px;
    padding: 9px 12px;
  }
  .todo{
    padding-left: 10px;
  }
  .todo-list{
    padding: 3px;
  }
  .container-btn{
    min-width: 125px;
  }
  
}